## Iterations/Loops

In [1]:
range(5)#default it takes from 0.

range(0, 5)

In [2]:
range(1,5)

range(1, 5)

### 1.For Loop

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
s1="hello"
for i in s1:
    print(i)

h
e
l
l
o

In [8]:
#Print hello in separate line separated by comma.
s1="hello"
for i in s1:
    print(i,end=',')

h,e,l,l,o,

In [19]:
s2="hello"
for i in s2:
    print(i,sep=',')

h
e
l
l
o

In [20]:
print(43,45,sep=',')
print(43,45)

43,45
43 45

In [23]:
for i in range(1,11):
    if(i%2==0):
        print(i,end=' ')

2 4 6 8 10

In [27]:
for i in range(2,11,2):#here second 2 repressnts we wanna skip 2 elements
    print(i,end=' ')

2 4 6 8 10

In [32]:
for i in range(1,11,2):
    print(i,end=' ')

1 3 5 7 9

In [48]:
for i in range(994,6,-7):
    if(i%2==0):
        print(i,end=' , ')

994 , 980 , 966 , 952 , 938 , 924 , 910 , 896 , 882 , 868 , 854 , 840 , 826 , 812 , 798 , 784 , 770 , 756 , 742 , 728 , 714 , 700 , 686 , 672 , 658 , 644 , 630 , 616 , 602 , 588 , 574 , 560 , 546 , 532 , 518 , 504 , 490 , 476 , 462 , 448 , 434 , 420 , 406 , 392 , 378 , 364 , 350 , 336 , 322 , 308 , 294 , 280 , 266 , 252 , 238 , 224 , 210 , 196 , 182 , 168 , 154 , 140 , 126 , 112 , 98 , 84 , 70 , 56 , 42 , 28 , 14 ,

In [52]:
for i in range(98,49,-2):
    print(i,end=',')

98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,

## 2.While Loop

In [1]:
i=1
while i<=10:
    print(i,end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [3]:
i=3
while i<=100:
    print(i,end=" ")
    i=i+3

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

# Python Data Structures

## 1.Lists -A collection of elements which is always ordered and changeable/mutable.Allows Duplicates.

In [10]:
li=[]
type(li)

list

In [15]:
li=[1,2,3,4]
print(li)
print(li[1])#index of list starts from 0.
for i in range(len(li)):
    print(li[i],end='.')

[1, 2, 3, 4]
2
1.2.3.4.

In [18]:
list=['krupa','mani',1,2,3]
print(list)

['krupa', 'mani', 1, 2, 3]

In [19]:
li[0:]

[1, 2, 3, 4]

In [20]:
#Reverse of a list
li[::-1]

[4, 3, 2, 1]

In [21]:
list[::-1]

[3, 2, 1, 'mani', 'krupa']

In [22]:
li[::2]

[1, 3]

In [23]:
li[::1]

[1, 2, 3, 4]

In [24]:
li[::3]

[1, 4]

In [25]:
name="jaya"

In [26]:
mylist=[]
print(type(name),type(mylist))

<class 'str'> <class 'list'>

In [32]:
my=list()
type(my)

TypeError: 'list' object is not callable

## List methods

## Append
    -To add new item in the available list

In [33]:
names=["krupa","mani","manasa"]

In [34]:
names[0]

'krupa'

In [35]:
names.append("kumari")

In [36]:
names

['krupa', 'mani', 'manasa', 'kumari']

In [37]:
new_persons=['venkateswarlu','deva','sagar']

In [38]:
names.append(new_persons)

In [39]:
names

['krupa', 'mani', 'manasa', 'kumari', ['venkateswarlu', 'deva', 'sagar']]

In [40]:
len(names)

5

### Extend method

In [41]:
#when you don't want to append another list to your existing list we will use this method
names1=['maan','hari','laya','sesha']

In [42]:
names.extend(names1)

In [43]:
names

['krupa',
 'mani',
 'manasa',
 'kumari',
 ['venkateswarlu', 'deva', 'sagar'],
 'maan',
 'hari',
 'laya',
 'sesha']

In [44]:
len(names)

9

In [45]:
names.remove(new_persons)

In [46]:
names

['krupa', 'mani', 'manasa', 'kumari', 'maan', 'hari', 'laya', 'sesha']

In [47]:
names.append(new_persons)

In [48]:
names

['krupa',
 'mani',
 'manasa',
 'kumari',
 'maan',
 'hari',
 'laya',
 'sesha',
 ['venkateswarlu', 'deva', 'sagar']]

## Insert (index_value,item)
### -Syntax:
    -Insert(index,element you wanna insert)

In [52]:
names.insert(1,2)

In [53]:
names

['krupa',
 2,
 'mani',
 'manasa',
 'kumari',
 'maan',
 'hari',
 'laya',
 'sesha',
 ['venkateswarlu', 'deva', 'sagar']]

In [54]:
names.insert(3,'yellow')

In [55]:
names

['krupa',
 2,
 'mani',
 'yellow',
 'manasa',
 'kumari',
 'maan',
 'hari',
 'laya',
 'sesha',
 ['venkateswarlu', 'deva', 'sagar']]

## new_list=available_list.Copy()
    -to take new backup of available list

In [56]:
lakshmi=[20,30,40,50]

In [60]:
s=lakshmi.copy()

In [61]:
s

[20, 30, 40, 50]

### Clear()
    -To remove all items in list

In [63]:
lakshmi.clear()

In [64]:
lakshmi

[]

### Count(item)
 -It can search for given item and return the number of occurances in a list.

In [66]:
girls=['laya','vandana',1,2,3]

In [67]:
print(girls)

['laya', 'vandana', 1, 2, 3]

In [68]:
girls.count('vandana')

1

In [69]:
girls.append(1)

In [70]:
print(girls)

['laya', 'vandana', 1, 2, 3, 1]

In [71]:
girls.count(1)

2

In [72]:
num=[1,2,3,4,[1,2,3]]
print(num.count(1))

1

### Index(item,start_index_for_searching)
    -return index of first occurence of the item in list if available otherwise value shows error

In [73]:
num.index(2)

1

In [74]:
num.append(1)

In [75]:
num.index(1)

0

In [76]:
num

[1, 2, 3, 4, [1, 2, 3], 1]

In [77]:
num.index(3)

2

In [78]:
num.index(1,0)

0

In [80]:
num.index(1,0)# it shows the first index of element where it is encountered

0

In [81]:
num.index(1,1)

5

### Pop(index_value)

In [82]:
num.pop(3)

4

In [83]:
num

[1, 2, 3, [1, 2, 3], 1]

In [84]:
num.append(7)

In [85]:
num

[1, 2, 3, [1, 2, 3], 1, 7]

In [86]:
num.pop(2)

3

In [87]:
num

[1, 2, [1, 2, 3], 1, 7]

In [90]:
num.pop(4)

7

### list.Sort()

In [92]:
m=[5,2,4,7,1,2]

In [93]:
m

[5, 2, 4, 7, 1, 2]

In [94]:
m.sort()

In [95]:
m

[1, 2, 2, 4, 5, 7]

In [96]:
m[4]

5

### list.reverse()
    -Reverse the list

In [98]:
m.reverse()

In [99]:
m

[7, 5, 4, 2, 2, 1]

In [104]:
li

[1, 2, 3, 4]

### Remove(item_value)
-Removes specific item

In [105]:
new=[1,2,3,4,5]

In [106]:
new.remove(3)

In [107]:
new

[1, 2, 4, 5]

In [108]:
news=[1,2,3,4,5,6,6]

In [109]:
news.remove(6)

In [110]:
news

[1, 2, 3, 4, 5, 6]

In [111]:
news.insert(3,3)

In [112]:
news

[1, 2, 3, 3, 4, 5, 6]

In [113]:
news.insert(5,3)

In [114]:
news

[1, 2, 3, 3, 4, 3, 5, 6]

In [115]:
news.remove(3)

In [116]:
news

[1, 2, 3, 4, 3, 5, 6]