# Tuples

In [1]:
t=(0,1,2)
print(type(t))

<class 'tuple'>

In [2]:
t[0:3:2]

(0, 2)

In [3]:
len(t)

3

In [4]:
print(t)

(0, 1, 2)

In [5]:
t.count(1000)

0

In [6]:
city_tuple=("delhi",12,'hyd','chennai')
b=city_tuple[:-1]
print(b)

('delhi', 12, 'hyd')

In [7]:
print(len(b))

3

In [8]:
c=list(b)
print("c is: {0}",format(c))
c=tuple(c)
print("c is now a tuple: {0}",format(c))

c is: {0} ['delhi', 12, 'hyd']
c is now a tuple: {0} ('delhi', 12, 'hyd')

In [9]:
x=("krupa",'maan',"manasa")
y=list(x)
y[1]="hari"
x=tuple(y)
print(x)

('krupa', 'hari', 'manasa')

In [10]:
if "krupa" in x:
    print("yes")
else:
    print("not found")

yes

In [11]:
y=(10,20,30,40)
y[1]=50
print(y)

TypeError: 'tuple' object does not support item assignment

In [15]:
del(y[2])
print(y)

TypeError: 'tuple' object doesn't support item deletion

## count=number of times occured in tuple

In [16]:
del y

In [17]:
print(y)

NameError: name 'y' is not defined

In [25]:
# program to convert given tuple into string
t=('a','b','c')
d="".join(t)
print(d)
print(type(d))

abc
<class 'str'>

# Tasks

In [28]:
## 1.Python program to reverse the given elements in tuple
t=('a','b','c')
print(t[::-1])

('c', 'b', 'a')

In [30]:
## 2.Python program to print names in tuples using iterations
t=('krupa','maan','manasa')
for i in t:
    print(i)

krupa
maan
manasa

# Sets
## -Sets are also represented in flower brackets
## -The only difference is, it is unordered data
## When we don't know the index we can use sets

In [35]:
s={10,20,30}
s

{10, 20, 30}

In [33]:
s={10,20,30,10}

{10, 20, 30, 40}

In [37]:
s

{10, 20, 30}

In [38]:
s[0]

TypeError: 'set' object is not subscriptable

In [39]:
names={'krupa','maan','manasa'}

In [40]:
for i in names:
    print(i)

maan
krupa
manasa

In [41]:
print("maan" in names)

True

### Add()

In [42]:
names.add('deva')

In [43]:
print(names)

{'maan', 'krupa', 'deva', 'manasa'}

## Update()

In [44]:
names.update(['laya','jaya'])

In [45]:
print(names)

{'maan', 'jaya', 'laya', 'krupa', 'deva', 'manasa'}

## Remove()

In [46]:
names.remove('jaya')

In [47]:
print(names)

{'maan', 'laya', 'krupa', 'deva', 'manasa'}

## discard()

In [48]:
names.discard('maan')

In [49]:
print(names)

{'laya', 'krupa', 'deva', 'manasa'}

## pop()

In [51]:
names.pop()
print(names)

{'krupa', 'deva', 'manasa'}

In [52]:
print(names)

{'krupa', 'deva', 'manasa'}

In [53]:
names.pop()

'krupa'

In [54]:
print(names)

{'deva', 'manasa'}

## Clear()

In [55]:
clear(names)# wrong syntax

In [56]:
print(names)

{'deva', 'manasa'}

In [57]:
names.clear()# correct syntax

In [58]:
print(names)

set()

In [60]:
dir.(t)

SyntaxError: invalid syntax (<ipython-input-60-246537a2c8a2>, line 1)

In [61]:
del()

In [62]:
s=['hari','priya','manne']

In [63]:
del(s)

In [64]:
print(s)

NameError: name 's' is not defined

In [65]:
s1={1,2,3,4}
s2={4,5,6}
s3=s1.union(s2)

In [66]:
print(s3)

{1, 2, 3, 4, 5, 6}

In [67]:
s1.intersection(s2)

{4}

In [68]:
s2.difference(s1)

{5, 6}

In [69]:
s1.difference_update(s2)

In [70]:
s1

{1, 2, 3}

In [71]:
s1={1,2,3}
s2={1,2,3,4,5,6}
s1.issubset(s2)

True

In [72]:
s2.issubset(s1)

False

In [73]:
help(s1.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [74]:
s1

{1, 2, 3}

In [75]:
s2

{1, 2, 3, 4, 5, 6}

In [77]:
s1.symmetric_difference(s2)

{4, 5, 6}

# Packages and Modules
## Package-Collection of Module-A single python file containing functions Package-->subPackages-->Modules-->Functions

# Module

In [80]:
def krupa(name):
    print("hello"+name)

In [81]:
import firstmodule
firstmodule.print("jss")

ModuleNotFoundError: No module named 'firstmodule'

In [82]:
import firstmodule as mod

ModuleNotFoundError: No module named 'firstmodule'

# Packages

In [83]:
from math import floor as f1
f1(2343.829548)

2343

In [87]:
import random

def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
        
rand(10,1,100)

61 25 2 94 41 11 70 86 42 51

In [88]:
from math import sqrt as f2
f2(4)

2.0

In [6]:
n=list(map(int,input().split()))

1234

In [7]:
n

[1234]